{% extends 'base.html.twig' %}

{% block title %}Statistique index{% endblock %}

{% block body %}
    <h1>Statistique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Victoire</th>
                <th>Defaite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statistique in statistiques %}
            <tr>
                <td>{{ statistique.id }}</td>
                <td>{{ statistique.victoire }}</td>
                <td>{{ statistique.defaite }}</td>
                <td>
                    <a href="{{ path('app_statistique_show', {'id': statistique.id}) }}">show</a>
                    <a href="{{ path('app_statistique_edit', {'id': statistique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_statistique_new') }}">Create new</a>
{% endblock %}
